<!DOCTYPE html>
<html>

<head>
  <title>Graph Mail Send Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="content">
    <h1>Graph Mail Send Example</h1>
    <a class="button" href=<%= link %>>관리자 동의</a>    
    
    <!--<a class="button" href='msteams:/l/chat/0/0?users=josong@factorylaon.com'>프로토콜 테스트</a> -->
  </div>
</body>

</html>